In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
os.chdir('D:\\python\\data')

In [3]:
ds=pd.read_csv('Python_Module_Day_15.2_Credit_Risk_Train_data_XTRAIN.csv')

In [4]:
ds

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N
10,LP001024,Male,Yes,2,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban,Y
11,LP001027,Male,Yes,2,Graduate,NaN,2500,1840.0,109.0,360.0,1.0,Urban,Y
12,LP001028,Male,Yes,2,Graduate,No,3073,8106.0,200.0,360.0,1.0,Urban,Y
13,LP001029,Male,No,0,Graduate,No,1853,2840.0,114.0,360.0,1.0,Rural,N
14,LP001030,Male,Yes,2,Graduate,No,1299,1086.0,17.0,120.0,1.0,Urban,Y
15,LP001032,Male,No,0,Graduate,No,4950,0.0,125.0,360.0,1.0,Urban,Y
16,LP001034,Male,No,1,Not Graduate,No,3596,0.0,100.0,240.0,NaN,Urban,Y
17,LP001036,Female,No,0,Graduate,No,3510,0.0,76.0,360.0,0.0,Urban,N
18,LP001038,Male,Yes,0,Not Graduate,No,4887,0.0,133.0,360.0,1.0,Rural,N
19,LP001041,Male,Yes,0,Graduate,NaN,2600,3500.0,115.0,NaN,1.0,Urban,Y
20,LP001043,Male,Yes,0,Not Graduate,No,7660,0.0,104.0,360.0,0.0,Urban,N
21,LP001046,Male,Yes,1,Graduate,No,5955,5625.0,315.0,360.0,1.0,Urban,Y
22,LP001047,Male,Yes,0,Not Graduate,No,2600,1911.0,116.0,360.0,0.0,Semiurban,N
23,LP001050,NaN,Yes,2,Not Graduate,No,3365,1917.0,112.0,360.0,0.0,Rural,N
24,LP001052,Male,Yes,1,Graduate,NaN,3717,2925.0,151.0,360.0,NaN,Semiurban,N
25,LP001066,Male,Yes,0,Graduate,Yes,9560,0.0,191.0,360.0,1.0,Semiurban,Y
26,LP001068,Male,Yes,0,Graduate,No,2799,2253.0,122.0,360.0,1.0,Semiurban,Y
27,LP001073,Male,Yes,2,Not Graduate,No,4226,1040.0,110.0,360.0,1.0,Urban,Y
28,LP001086,Male,No,0,Not Graduate,No,1442,0.0,35.0,360.0,1.0,Urban,N
29,LP001087,Female,No,2,Graduate,NaN,3750,2083.0,120.0,360.0,1.0,Semiurban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
584,LP002911,Male,Yes,1,Graduate,No,2787,1917.0,146.0,360.0,0.0,Rural,N
585,LP002912,Male,Yes,1,Graduate,No,4283,3000.0,172.0,84.0,1.0,Rural,N
586,LP002916,Male,Yes,0,Graduate,No,2297,1522.0,104.0,360.0,1.0,Urban,Y
587,LP002917,Female,No,0,Not Graduate,No,2165,0.0,70.0,360.0,1.0,Semiurban,Y
588,LP002925,NaN,No,0,Graduate,No,4750,0.0,94.0,360.0,1.0,Semiurban,Y
589,LP002926,Male,Yes,2,Graduate,Yes,2726,0.0,106.0,360.0,0.0,Semiurban,N
590,LP002928,Male,Yes,0,Graduate,No,3000,3416.0,56.0,180.0,1.0,Semiurban,Y
591,LP002931,Male,Yes,2,Graduate,Yes,6000,0.0,205.0,240.0,1.0,Semiurban,N
592,LP002933,NaN,No,3+,Graduate,Yes,9357,0.0,292.0,360.0,1.0,Semiurban,Y
593,LP002936,Male,Yes,0,Graduate,No,3859,3300.0,142.0,180.0,1.0,Rural,Y
594,LP002938,Male,Yes,0,Graduate,Yes,16120,0.0,260.0,360.0,1.0,Urban,Y
595,LP002940,Male,No,0,Not Graduate,No,3833,0.0,110.0,360.0,1.0,Rural,Y
596,LP002941,Male,Yes,2,Not Graduate,Yes,6383,1000.0,187.0,360.0,1.0,Rural,N
597,LP002943,Male,No,NaN,Graduate,No,2987,0.0,88.0,360.0,0.0,Semiurban,N
598,LP002945,Male,Yes,0,Graduate,Yes,9963,0.0,180.0,360.0,1.0,Rural,Y
599,LP002948,Male,Yes,2,Graduate,No,5780,0.0,192.0,360.0,1.0,Urban,Y
600,LP002949,Female,No,3+,Graduate,NaN,416,41667.0,350.0,180.0,NaN,Urban,N
601,LP002950,Male,Yes,0,Not Graduate,NaN,2894,2792.0,155.0,360.0,1.0,Rural,Y
602,LP002953,Male,Yes,3+,Graduate,No,5703,0.0,128.0,360.0,1.0,Urban,Y
603,LP002958,Male,No,0,Graduate,No,3676,4301.0,172.0,360.0,1.0,Rural,Y
604,LP002959,Female,Yes,1,Graduate,No,12000,0.0,496.0,360.0,1.0,Semiurban,Y
605,LP002960,Male,Yes,0,Not Graduate,No,2400,3800.0,NaN,180.0,1.0,Urban,N
606,LP002961,Male,Yes,1,Graduate,No,3400,2500.0,173.0,360.0,1.0,Semiurban,Y
607,LP002964,Male,Yes,2,Not Graduate,No,3987,1411.0,157.0,360.0,1.0,Rural,Y
608,LP002974,Male,Yes,0,Graduate,No,3232,1950.0,108.0,360.0,1.0,Rural,Y
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [5]:
ds_train=ds.drop('Loan_ID', 1)

In [6]:
ds_train

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N
10,Male,Yes,2,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban,Y
11,Male,Yes,2,Graduate,NaN,2500,1840.0,109.0,360.0,1.0,Urban,Y
12,Male,Yes,2,Graduate,No,3073,8106.0,200.0,360.0,1.0,Urban,Y
13,Male,No,0,Graduate,No,1853,2840.0,114.0,360.0,1.0,Rural,N
14,Male,Yes,2,Graduate,No,1299,1086.0,17.0,120.0,1.0,Urban,Y
15,Male,No,0,Graduate,No,4950,0.0,125.0,360.0,1.0,Urban,Y
16,Male,No,1,Not Graduate,No,3596,0.0,100.0,240.0,NaN,Urban,Y
17,Female,No,0,Graduate,No,3510,0.0,76.0,360.0,0.0,Urban,N
18,Male,Yes,0,Not Graduate,No,4887,0.0,133.0,360.0,1.0,Rural,N
19,Male,Yes,0,Graduate,NaN,2600,3500.0,115.0,NaN,1.0,Urban,Y
20,Male,Yes,0,Not Graduate,No,7660,0.0,104.0,360.0,0.0,Urban,N
21,Male,Yes,1,Graduate,No,5955,5625.0,315.0,360.0,1.0,Urban,Y
22,Male,Yes,0,Not Graduate,No,2600,1911.0,116.0,360.0,0.0,Semiurban,N
23,NaN,Yes,2,Not Graduate,No,3365,1917.0,112.0,360.0,0.0,Rural,N
24,Male,Yes,1,Graduate,NaN,3717,2925.0,151.0,360.0,NaN,Semiurban,N
25,Male,Yes,0,Graduate,Yes,9560,0.0,191.0,360.0,1.0,Semiurban,Y
26,Male,Yes,0,Graduate,No,2799,2253.0,122.0,360.0,1.0,Semiurban,Y
27,Male,Yes,2,Not Graduate,No,4226,1040.0,110.0,360.0,1.0,Urban,Y
28,Male,No,0,Not Graduate,No,1442,0.0,35.0,360.0,1.0,Urban,N
29,Female,No,2,Graduate,NaN,3750,2083.0,120.0,360.0,1.0,Semiurban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
584,Male,Yes,1,Graduate,No,2787,1917.0,146.0,360.0,0.0,Rural,N
585,Male,Yes,1,Graduate,No,4283,3000.0,172.0,84.0,1.0,Rural,N
586,Male,Yes,0,Graduate,No,2297,1522.0,104.0,360.0,1.0,Urban,Y
587,Female,No,0,Not Graduate,No,2165,0.0,70.0,360.0,1.0,Semiurban,Y
588,NaN,No,0,Graduate,No,4750,0.0,94.0,360.0,1.0,Semiurban,Y
589,Male,Yes,2,Graduate,Yes,2726,0.0,106.0,360.0,0.0,Semiurban,N
590,Male,Yes,0,Graduate,No,3000,3416.0,56.0,180.0,1.0,Semiurban,Y
591,Male,Yes,2,Graduate,Yes,6000,0.0,205.0,240.0,1.0,Semiurban,N
592,NaN,No,3+,Graduate,Yes,9357,0.0,292.0,360.0,1.0,Semiurban,Y
593,Male,Yes,0,Graduate,No,3859,3300.0,142.0,180.0,1.0,Rural,Y
594,Male,Yes,0,Graduate,Yes,16120,0.0,260.0,360.0,1.0,Urban,Y
595,Male,No,0,Not Graduate,No,3833,0.0,110.0,360.0,1.0,Rural,Y
596,Male,Yes,2,Not Graduate,Yes,6383,1000.0,187.0,360.0,1.0,Rural,N
597,Male,No,NaN,Graduate,No,2987,0.0,88.0,360.0,0.0,Semiurban,N
598,Male,Yes,0,Graduate,Yes,9963,0.0,180.0,360.0,1.0,Rural,Y
599,Male,Yes,2,Graduate,No,5780,0.0,192.0,360.0,1.0,Urban,Y
600,Female,No,3+,Graduate,NaN,416,41667.0,350.0,180.0,NaN,Urban,N
601,Male,Yes,0,Not Graduate,NaN,2894,2792.0,155.0,360.0,1.0,Rural,Y
602,Male,Yes,3+,Graduate,No,5703,0.0,128.0,360.0,1.0,Urban,Y
603,Male,No,0,Graduate,No,3676,4301.0,172.0,360.0,1.0,Rural,Y
604,Female,Yes,1,Graduate,No,12000,0.0,496.0,360.0,1.0,Semiurban,Y
605,Male,Yes,0,Not Graduate,No,2400,3800.0,NaN,180.0,1.0,Urban,N
606,Male,Yes,1,Graduate,No,3400,2500.0,173.0,360.0,1.0,Semiurban,Y
607,Male,Yes,2,Not Graduate,No,3987,1411.0,157.0,360.0,1.0,Rural,Y
608,Male,Yes,0,Graduate,No,3232,1950.0,108.0,360.0,1.0,Rural,Y
609,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [7]:
ds_train.isnull().sum()

Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [8]:
import seaborn as sns

In [9]:
Q1 = ds_train.quantile(0.25)
Q3 = ds_train.quantile(0.75)
IQR = Q3-Q1

In [10]:
ds_train= ds_train[~((ds_train<(Q1-1.5*IQR))
                       | (ds_train>(Q3+1.5*IQR))).any(axis=1)]

In [11]:
ds_train

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
8,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
10,Male,Yes,2,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban,Y
11,Male,Yes,2,Graduate,NaN,2500,1840.0,109.0,360.0,1.0,Urban,Y
13,Male,No,0,Graduate,No,1853,2840.0,114.0,360.0,1.0,Rural,N
15,Male,No,0,Graduate,No,4950,0.0,125.0,360.0,1.0,Urban,Y
18,Male,Yes,0,Not Graduate,No,4887,0.0,133.0,360.0,1.0,Rural,N
19,Male,Yes,0,Graduate,NaN,2600,3500.0,115.0,NaN,1.0,Urban,Y
24,Male,Yes,1,Graduate,NaN,3717,2925.0,151.0,360.0,NaN,Semiurban,N
25,Male,Yes,0,Graduate,Yes,9560,0.0,191.0,360.0,1.0,Semiurban,Y
26,Male,Yes,0,Graduate,No,2799,2253.0,122.0,360.0,1.0,Semiurban,Y
27,Male,Yes,2,Not Graduate,No,4226,1040.0,110.0,360.0,1.0,Urban,Y
28,Male,No,0,Not Graduate,No,1442,0.0,35.0,360.0,1.0,Urban,N
29,Female,No,2,Graduate,NaN,3750,2083.0,120.0,360.0,1.0,Semiurban,Y
30,Male,Yes,1,Graduate,NaN,4166,3369.0,201.0,360.0,NaN,Urban,N
31,Male,No,0,Graduate,No,3167,0.0,74.0,360.0,1.0,Urban,N
32,Male,No,1,Graduate,Yes,4692,0.0,106.0,360.0,1.0,Rural,N
33,Male,Yes,0,Graduate,No,3500,1667.0,114.0,360.0,1.0,Semiurban,Y
35,Male,Yes,0,Graduate,No,2275,2067.0,NaN,360.0,1.0,Urban,Y
37,Female,Yes,0,Graduate,No,3667,1459.0,144.0,360.0,1.0,Semiurban,Y
39,Male,No,0,Not Graduate,No,3748,1668.0,110.0,360.0,1.0,Semiurban,Y
40,Male,No,0,Graduate,No,3600,0.0,80.0,360.0,1.0,Urban,N
41,Male,No,0,Graduate,No,1800,1213.0,47.0,360.0,1.0,Urban,Y
42,Male,Yes,0,Graduate,No,2400,0.0,75.0,360.0,NaN,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
560,Male,Yes,2,Not Graduate,No,3675,242.0,108.0,360.0,1.0,Semiurban,Y
562,Male,Yes,0,Graduate,No,5923,2054.0,211.0,360.0,1.0,Rural,Y
563,Male,No,0,Not Graduate,Yes,5800,0.0,132.0,360.0,1.0,Semiurban,Y
565,Male,Yes,0,Not Graduate,No,4467,0.0,120.0,360.0,NaN,Rural,Y
566,Male,No,0,Graduate,No,3333,0.0,70.0,360.0,1.0,Urban,Y
568,Female,No,0,Graduate,No,2378,0.0,9.0,360.0,1.0,Urban,N
570,Male,Yes,1,Graduate,No,3417,1750.0,186.0,360.0,1.0,Urban,Y
574,Male,Yes,3+,Graduate,No,6406,0.0,150.0,360.0,1.0,Semiurban,N
577,Male,No,0,Graduate,No,3229,2739.0,110.0,360.0,1.0,Urban,Y
578,Male,Yes,1,Graduate,No,1782,2232.0,107.0,360.0,1.0,Rural,Y
579,Male,No,0,Graduate,NaN,3182,2917.0,161.0,360.0,1.0,Urban,Y
580,Male,Yes,2,Graduate,No,6540,0.0,205.0,360.0,1.0,Semiurban,Y
582,Female,Yes,0,Graduate,No,3166,0.0,36.0,360.0,1.0,Semiurban,Y
583,Male,Yes,1,Graduate,No,1880,0.0,61.0,360.0,NaN,Rural,N
586,Male,Yes,0,Graduate,No,2297,1522.0,104.0,360.0,1.0,Urban,Y
587,Female,No,0,Not Graduate,No,2165,0.0,70.0,360.0,1.0,Semiurban,Y
588,NaN,No,0,Graduate,No,4750,0.0,94.0,360.0,1.0,Semiurban,Y
595,Male,No,0,Not Graduate,No,3833,0.0,110.0,360.0,1.0,Rural,Y
596,Male,Yes,2,Not Graduate,Yes,6383,1000.0,187.0,360.0,1.0,Rural,N
598,Male,Yes,0,Graduate,Yes,9963,0.0,180.0,360.0,1.0,Rural,Y
599,Male,Yes,2,Graduate,No,5780,0.0,192.0,360.0,1.0,Urban,Y
601,Male,Yes,0,Not Graduate,NaN,2894,2792.0,155.0,360.0,1.0,Rural,Y
602,Male,Yes,3+,Graduate,No,5703,0.0,128.0,360.0,1.0,Urban,Y
603,Male,No,0,Graduate,No,3676,4301.0,172.0,360.0,1.0,Rural,Y
606,Male,Yes,1,Graduate,No,3400,2500.0,173.0,360.0,1.0,Semiurban,Y
607,Male,Yes,2,Not Graduate,No,3987,1411.0,157.0,360.0,1.0,Rural,Y
608,Male,Yes,0,Graduate,No,3232,1950.0,108.0,360.0,1.0,Rural,Y
609,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
611,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y

In [12]:
ds_train.groupby('Self_Employed').size()

Self_Employed
No     325
Yes     47
dtype: int64

In [13]:
#gender
ds_train.groupby('Gender').agg({'Gender': np.size})
ds_train["Gender"]=ds_train["Gender"].fillna('Male')
ds_train["Gender"] = ds_train["Gender"].astype('category')
ds_train["Gender"] = ds_train["Gender"].cat.codes
#married
ds_train.groupby('Married').agg({'Married': np.size})
ds_train["Married"]=ds_train["Married"].fillna('Yes')
ds_train["Married"] = ds_train["Married"].astype('category')
ds_train["Married"] = ds_train["Married"].cat.codes
#Dependents 
ds_train.groupby('Dependents').agg({'Dependents': np.size})
ds_train["Dependents"]=ds_train["Dependents"].fillna(0)
ds_train["Dependents"] = ds_train["Dependents"].astype('category')
ds_train["Dependents"] = ds_train["Dependents"].cat.codes
#Self_Employed 
ds_train.groupby('Self_Employed').agg({'Self_Employed': np.size})
ds_train["Self_Employed"]=ds_train["Self_Employed"].fillna('No')
ds_train["Self_Employed"] = ds_train["Self_Employed"].astype('category')
ds_train["Self_Employed"] = ds_train["Self_Employed"].cat.codes

C:\Users\Hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\Hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\Hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\Hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\Hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
C:\Users\Hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\Hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [14]:
#LoanAmount
ds_train["LoanAmount"].fillna(ds_train["LoanAmount"].mean(), inplace=True)
#Loan_Amount_Term
ds_train["Loan_Amount_Term"].fillna(ds_train["Loan_Amount_Term"].mean(), inplace=True)
#Credit_History
ds_train["Credit_History"].fillna(ds_train["Credit_History"].mean(), inplace=True)

C:\Users\Hp\Anaconda3\lib\site-packages\pandas\core\generic.py:6130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [15]:
#Gender
ds_train= pd.get_dummies(ds_train,columns=['Gender'],drop_first=True)
#Married
#ds_train= pd.get_dummies(ds_train,columns=['Married'],drop_first=True)
#Dependents
#ds_train= pd.get_dummies(ds_train,columns=['Dependents'],drop_first=True)
#Self_Employed
#ds_train= pd.get_dummies(ds_train,columns=['Self_Employed'],drop_first=True)
#Loan_Status
#ds_train= pd.get_dummies(ds_train,columns=['Loan_Status'],drop_first=True)
#Eduction
#ds_train= pd.get_dummies(ds_train,columns=['Education'],drop_first=True)
#Property area
#ds_train= pd.get_dummies(ds_train,columns=['Property_Area'],drop_first=True)

In [16]:
ds_train= pd.get_dummies(ds_train,columns=['Married'],drop_first=True)

In [17]:
ds_train= pd.get_dummies(ds_train,columns=['Dependents'],drop_first=True)

In [18]:
ds_train= pd.get_dummies(ds_train,columns=['Self_Employed'],drop_first=True)

In [19]:
ds_train= pd.get_dummies(ds_train,columns=['Loan_Status'],drop_first=True)

In [20]:
ds_train= pd.get_dummies(ds_train,columns=['Education'],drop_first=True)

In [21]:
ds_train= pd.get_dummies(ds_train,columns=['Property_Area'],drop_first=True)

In [22]:
ds_train

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_1,Married_1,Dependents_1,Dependents_2,Dependents_3,Dependents_4,Self_Employed_1,Loan_Status_Y,Education_Not Graduate,Property_Area_Semiurban,Property_Area_Urban
0,5849,0.0,129.205195,360.0,1.0,1,0,1,0,0,0,0,1,0,0,1
1,4583,1508.0,128.000000,360.0,1.0,1,1,0,1,0,0,0,0,0,0,0
2,3000,0.0,66.000000,360.0,1.0,1,1,1,0,0,0,1,1,0,0,1
3,2583,2358.0,120.000000,360.0,1.0,1,1,1,0,0,0,0,1,1,0,1
4,6000,0.0,141.000000,360.0,1.0,1,0,1,0,0,0,0,1,0,0,1
5,5417,4196.0,267.000000,360.0,1.0,1,1,0,0,1,0,1,1,0,0,1
6,2333,1516.0,95.000000,360.0,1.0,1,1,1,0,0,0,0,1,1,0,1
8,4006,1526.0,168.000000,360.0,1.0,1,1,0,0,1,0,0,1,0,0,1
10,3200,700.0,70.000000,360.0,1.0,1,1,0,0,1,0,0,1,0,0,1
11,2500,1840.0,109.000000,360.0,1.0,1,1,0,0,1,0,0,1,0,0,1
13,1853,2840.0,114.000000,360.0,1.0,1,0,1,0,0,0,0,0,0,0,0
15,4950,0.0,125.000000,360.0,1.0,1,0,1,0,0,0,0,1,0,0,1
18,4887,0.0,133.000000,360.0,1.0,1,1,1,0,0,0,0,0,1,0,0
19,2600,3500.0,115.000000,360.0,1.0,1,1,1,0,0,0,0,1,0,0,1
24,3717,2925.0,151.000000,360.0,1.0,1,1,0,1,0,0,0,0,0,1,0
25,9560,0.0,191.000000,360.0,1.0,1,1,1,0,0,0,1,1,0,1,0
26,2799,2253.0,122.000000,360.0,1.0,1,1,1,0,0,0,0,1,0,1,0
27,4226,1040.0,110.000000,360.0,1.0,1,1,0,0,1,0,0,1,1,0,1
28,1442,0.0,35.000000,360.0,1.0,1,0,1,0,0,0,0,0,1,0,1
29,3750,2083.0,120.000000,360.0,1.0,0,0,0,0,1,0,0,1,0,1,0
30,4166,3369.0,201.000000,360.0,1.0,1,1,0,1,0,0,0,0,0,0,1
31,3167,0.0,74.000000,360.0,1.0,1,0,1,0,0,0,0,0,0,0,1
32,4692,0.0,106.000000,360.0,1.0,1,0,0,1,0,0,1,0,0,0,0
33,3500,1667.0,114.000000,360.0,1.0,1,1,1,0,0,0,0,1,0,1,0
35,2275,2067.0,129.205195,360.0,1.0,1,1,1,0,0,0,0,1,0,0,1
37,3667,1459.0,144.000000,360.0,1.0,0,1,1,0,0,0,0,1,0,1,0
39,3748,1668.0,110.000000,360.0,1.0,1,0,1,0,0,0,0,1,1,1,0
40,3600,0.0,80.000000,360.0,1.0,1,0,1,0,0,0,0,0,0,0,1
41,1800,1213.0,47.000000,360.0,1.0,1,0,1,0,0,0,0,1,0,0,1
42,2400,0.0,75.000000,360.0,1.0,1,1,1,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560,3675,242.0,108.000000,360.0,1.0,1,1,0,0,1,0,0,1,1,1,0
562,5923,2054.0,211.000000,360.0,1.0,1,1,1,0,0,0,0,1,0,0,0
563,5800,0.0,132.000000,360.0,1.0,1,0,1,0,0,0,1,1,1,1,0
565,4467,0.0,120.000000,360.0,1.0,1,1,1,0,0,0,0,1,1,0,0
566,3333,0.0,70.000000,360.0,1.0,1,0,1,0,0,0,0,1,0,0,1
568,2378,0.0,9.000000,360.0,1.0,0,0,1,0,0,0,0,0,0,0,1
570,3417,1750.0,186.000000,360.0,1.0,1,1,0,1,0,0,0,1,0,0,1
574,6406,0.0,150.000000,360.0,1.0,1,1,0,0,0,1,0,0,0,1,0
577,3229,2739.0,110.000000,360.0,1.0,1,0,1,0,0,0,0,1,0,0,1
578,1782,2232.0,107.000000,360.0,1.0,1,1,0,1,0,0,0,1,0,0,0
579,3182,2917.0,161.000000,360.0,1.0,1,0,1,0,0,0,0,1,0,0,1
580,6540,0.0,205.000000,360.0,1.0,1,1,0,0,1,0,0,1,0,1,0
582,3166,0.0,36.000000,360.0,1.0,0,1,1,0,0,0,0,1,0,1,0
583,1880,0.0,61.000000,360.0,1.0,1,1,0,1,0,0,0,0,0,0,0
586,2297,1522.0,104.000000,360.0,1.0,1,1,1,0,0,0,0,1,0,0,1
587,2165,0.0,70.000000,360.0,1.0,0,0,1,0,0,0,0,1,1,1,0
588,4750,0.0,94.000000,360.0,1.0,1,0,1,0,0,0,0,1,0,1,0
595,3833,0.0,110.000000,360.0,1.0,1,0,1,0,0,0,0,1,1,0,0
596,6383,1000.0,187.000000,360.0,1.0,1,1,0,0,1,0,1,0,1,0,0
598,9963,0.0,180.000000,360.0,1.0,1,1,1,0,0,0,1,1,0,0,0
599,5780,0.0,192.000000,360.0,1.0,1,1,0,0,1,0,0,1,0,0,1
601,2894,2792.0,155.000000,360.0,1.0,1,1,1,0,0,0,0,1,1,0,0
602,5703,0.0,128.000000,360.0,1.0,1,1,0,0,0,1,0,1,0,0,1
603,3676,4301.0,172.000000,360.0,1.0,1,0,1,0,0,0,0,1,0,0,0
606,3400,2500.0,173.000000,360.0,1.0,1,1,0,1,0,0,0,1,0,1,0
607,3987,1411.0,157.000000,360.0,1.0,1,1,0,0,1,0,0,1,1,0,0
608,3232,1950.0,108.000000,360.0,1.0,1,1,1,0,0,0,0,1,0,0,0
609,2900,0.0,71.000000,360.0,1.0,0,0,1,0,0,0,0,1,0,0,0
611,8072,240.0,253.000000,360.0,1.0,1,1,0,1,0,0,0,1,0,0,1
612,7583,0.0,187.000000,360.0,1.0,1,1,0,0,1,0,0,1,0,0,1

In [23]:
os.chdir("D:\\python\\data")

In [24]:
ds2=pd.read_csv("Python_Module_Day_15.4_Credit_Risk_Validate_data_XTEST.csv")

In [25]:
ds2

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,outcome
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban,Y
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban,Y
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban,Y
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban,Y
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban,N
5,LP001054,Male,Yes,0,Not Graduate,Yes,2165,3422,152.0,360.0,1.0,Urban,Y
6,LP001055,Female,No,1,Not Graduate,No,2226,0,59.0,360.0,1.0,Semiurban,Y
7,LP001056,Male,Yes,2,Not Graduate,No,3881,0,147.0,360.0,0.0,Rural,N
8,LP001059,Male,Yes,2,Graduate,NaN,13633,0,280.0,240.0,1.0,Urban,Y
9,LP001067,Male,No,0,Not Graduate,No,2400,2400,123.0,360.0,1.0,Semiurban,Y
10,LP001078,Male,No,0,Not Graduate,No,3091,0,90.0,360.0,1.0,Urban,Y
11,LP001082,Male,Yes,1,Graduate,NaN,2185,1516,162.0,360.0,1.0,Semiurban,Y
12,LP001083,Male,No,3+,Graduate,No,4166,0,40.0,180.0,NaN,Urban,Y
13,LP001094,Male,Yes,2,Graduate,NaN,12173,0,166.0,360.0,0.0,Semiurban,N
14,LP001096,Female,No,0,Graduate,No,4666,0,124.0,360.0,1.0,Semiurban,Y
15,LP001099,Male,No,1,Graduate,No,5667,0,131.0,360.0,1.0,Urban,Y
16,LP001105,Male,Yes,2,Graduate,No,4583,2916,200.0,360.0,1.0,Urban,Y
17,LP001107,Male,Yes,3+,Graduate,No,3786,333,126.0,360.0,1.0,Semiurban,Y
18,LP001108,Male,Yes,0,Graduate,No,9226,7916,300.0,360.0,1.0,Urban,Y
19,LP001115,Male,No,0,Graduate,No,1300,3470,100.0,180.0,1.0,Semiurban,Y
20,LP001121,Male,Yes,1,Not Graduate,No,1888,1620,48.0,360.0,1.0,Urban,Y
21,LP001124,Female,No,3+,Not Graduate,No,2083,0,28.0,180.0,1.0,Urban,Y
22,LP001128,NaN,No,0,Graduate,No,3909,0,101.0,360.0,1.0,Urban,Y
23,LP001135,Female,No,0,Not Graduate,No,3765,0,125.0,360.0,1.0,Urban,Y
24,LP001149,Male,Yes,0,Graduate,No,5400,4380,290.0,360.0,1.0,Urban,Y
25,LP001153,Male,No,0,Graduate,No,0,24000,148.0,360.0,0.0,Rural,N
26,LP001163,Male,Yes,2,Graduate,No,4363,1250,140.0,360.0,NaN,Urban,Y
27,LP001169,Male,Yes,0,Graduate,No,7500,3750,275.0,360.0,1.0,Urban,Y
28,LP001174,Male,Yes,0,Graduate,No,3772,833,57.0,360.0,NaN,Semiurban,Y
29,LP001176,Male,No,0,Graduate,No,2942,2382,125.0,180.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,LP002856,Male,Yes,0,Graduate,No,2292,1558,119.0,360.0,1.0,Urban,Y
338,LP002857,Male,Yes,1,Graduate,Yes,2360,3355,87.0,240.0,1.0,Rural,Y
339,LP002858,Female,No,0,Graduate,No,4333,2333,162.0,360.0,0.0,Rural,N
340,LP002860,Male,Yes,0,Graduate,Yes,2623,4831,122.0,180.0,1.0,Semiurban,Y
341,LP002867,Male,No,0,Graduate,Yes,3972,4275,187.0,360.0,1.0,Rural,Y
342,LP002869,Male,Yes,3+,Not Graduate,No,3522,0,81.0,180.0,1.0,Rural,N
343,LP002870,Male,Yes,1,Graduate,No,4700,0,80.0,360.0,1.0,Urban,Y
344,LP002876,Male,No,0,Graduate,No,6858,0,176.0,360.0,1.0,Rural,Y
345,LP002878,Male,Yes,3+,Graduate,No,8334,0,260.0,360.0,1.0,Urban,Y
346,LP002879,Male,Yes,0,Graduate,No,3391,1966,133.0,360.0,0.0,Rural,N
347,LP002885,Male,No,0,Not Graduate,No,2868,0,70.0,360.0,1.0,Urban,Y
348,LP002890,Male,Yes,2,Not Graduate,No,3418,1380,135.0,360.0,1.0,Urban,Y
349,LP002891,Male,Yes,0,Graduate,Yes,2500,296,137.0,300.0,1.0,Rural,Y
350,LP002899,Male,Yes,2,Graduate,No,8667,0,254.0,360.0,1.0,Rural,Y
351,LP002901,Male,No,0,Graduate,No,2283,15000,106.0,360.0,NaN,Rural,Y
352,LP002907,Male,Yes,0,Graduate,No,5817,910,109.0,360.0,1.0,Urban,Y
353,LP002920,Male,Yes,0,Graduate,No,5119,3769,120.0,360.0,1.0,Rural,Y
354,LP002921,Male,Yes,3+,Not Graduate,No,5316,187,158.0,180.0,0.0,Semiurban,Y
355,LP002932,Male,Yes,3+,Graduate,No,7603,1213,197.0,360.0,1.0,Urban,Y
356,LP002935,Male,Yes,1,Graduate,No,3791,1936,85.0,360.0,1.0,Urban,Y
357,LP002952,Male,No,0,Graduate,No,2500,0,60.0,360.0,1.0,Urban,Y
358,LP002954,Male,Yes,2,Not Graduate,No,3132,0,76.0,360.0,NaN,Rural,Y
359,LP002962,Male,No,0,Graduate,No,4000,2667,152.0,360.0,1.0,Semiurban,Y
360,LP002965,Female,Yes,0,Graduate,No,8550,4255,96.0,360.0,NaN,Urban,Y
361,LP002969,Male,Yes,1,Graduate,No,2269,2167,99.0,360.0,1.0,Semiurban,Y
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban,Y
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban,Y
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban,Y
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural,N
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural,Y

In [26]:
dsp=ds2.drop('Loan_ID', 1)

In [27]:
Q1 = dsp.quantile(0.25)
Q3 = dsp.quantile(0.75)
IQR = Q3-Q1

In [28]:
ds_test= dsp[~((dsp<(Q1-1.5*IQR))
                       | (dsp>(Q3+1.5*IQR))).any(axis=1)]

In [29]:
ds_test

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,outcome
0,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban,Y
2,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban,Y
3,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban,Y
4,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban,N
5,Male,Yes,0,Not Graduate,Yes,2165,3422,152.0,360.0,1.0,Urban,Y
6,Female,No,1,Not Graduate,No,2226,0,59.0,360.0,1.0,Semiurban,Y
9,Male,No,0,Not Graduate,No,2400,2400,123.0,360.0,1.0,Semiurban,Y
10,Male,No,0,Not Graduate,No,3091,0,90.0,360.0,1.0,Urban,Y
11,Male,Yes,1,Graduate,NaN,2185,1516,162.0,360.0,1.0,Semiurban,Y
14,Female,No,0,Graduate,No,4666,0,124.0,360.0,1.0,Semiurban,Y
15,Male,No,1,Graduate,No,5667,0,131.0,360.0,1.0,Urban,Y
16,Male,Yes,2,Graduate,No,4583,2916,200.0,360.0,1.0,Urban,Y
17,Male,Yes,3+,Graduate,No,3786,333,126.0,360.0,1.0,Semiurban,Y
20,Male,Yes,1,Not Graduate,No,1888,1620,48.0,360.0,1.0,Urban,Y
22,NaN,No,0,Graduate,No,3909,0,101.0,360.0,1.0,Urban,Y
23,Female,No,0,Not Graduate,No,3765,0,125.0,360.0,1.0,Urban,Y
26,Male,Yes,2,Graduate,No,4363,1250,140.0,360.0,NaN,Urban,Y
28,Male,Yes,0,Graduate,No,3772,833,57.0,360.0,NaN,Semiurban,Y
30,Female,No,0,Not Graduate,No,2478,0,75.0,360.0,1.0,Semiurban,Y
31,Male,Yes,2,Graduate,No,6250,820,192.0,360.0,1.0,Urban,Y
32,Male,No,0,Graduate,No,3268,1683,152.0,360.0,1.0,Semiurban,Y
33,Male,Yes,0,Graduate,No,2783,2708,158.0,360.0,1.0,Urban,Y
34,Male,Yes,0,Graduate,No,2740,1541,101.0,360.0,1.0,Urban,Y
37,Male,Yes,0,Graduate,Yes,2267,2792,90.0,360.0,1.0,Urban,Y
38,Male,No,0,Graduate,Yes,5833,0,116.0,360.0,1.0,Urban,Y
39,Male,No,0,Graduate,No,3643,1963,138.0,360.0,1.0,Urban,Y
40,Male,Yes,0,Graduate,No,5629,818,100.0,360.0,1.0,Urban,Y
41,Female,No,0,Graduate,No,3644,0,110.0,360.0,1.0,Urban,Y
42,Male,Yes,0,Not Graduate,No,1750,2024,90.0,360.0,1.0,Semiurban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
321,Female,Yes,0,Not Graduate,No,1647,1762,181.0,360.0,1.0,Urban,Y
324,Male,Yes,0,Graduate,No,5333,0,90.0,360.0,1.0,Rural,Y
326,Male,Yes,1,Not Graduate,NaN,2600,618,122.0,360.0,1.0,Semiurban,Y
327,Male,Yes,2,Graduate,No,5041,700,150.0,360.0,1.0,Urban,Y
328,Male,Yes,3+,Graduate,Yes,6958,1411,150.0,360.0,1.0,Rural,Y
329,Male,Yes,1,Graduate,No,3500,1658,104.0,360.0,NaN,Semiurban,Y
330,Male,Yes,0,Graduate,No,5509,0,143.0,360.0,1.0,Rural,Y
332,Female,Yes,1,Not Graduate,No,3621,2717,171.0,360.0,1.0,Urban,Y
333,Female,Yes,0,Graduate,No,4709,0,113.0,360.0,1.0,Semiurban,Y
334,Male,Yes,0,Graduate,No,1516,1951,35.0,360.0,1.0,Semiurban,Y
335,Male,No,2,Graduate,No,2400,0,46.0,360.0,1.0,Urban,Y
336,Female,No,0,Not Graduate,No,3015,2000,145.0,360.0,NaN,Urban,Y
337,Male,Yes,0,Graduate,No,2292,1558,119.0,360.0,1.0,Urban,Y
341,Male,No,0,Graduate,Yes,3972,4275,187.0,360.0,1.0,Rural,Y
343,Male,Yes,1,Graduate,No,4700,0,80.0,360.0,1.0,Urban,Y
344,Male,No,0,Graduate,No,6858,0,176.0,360.0,1.0,Rural,Y
347,Male,No,0,Not Graduate,No,2868,0,70.0,360.0,1.0,Urban,Y
348,Male,Yes,2,Not Graduate,No,3418,1380,135.0,360.0,1.0,Urban,Y
352,Male,Yes,0,Graduate,No,5817,910,109.0,360.0,1.0,Urban,Y
353,Male,Yes,0,Graduate,No,5119,3769,120.0,360.0,1.0,Rural,Y
355,Male,Yes,3+,Graduate,No,7603,1213,197.0,360.0,1.0,Urban,Y
356,Male,Yes,1,Graduate,No,3791,1936,85.0,360.0,1.0,Urban,Y
357,Male,No,0,Graduate,No,2500,0,60.0,360.0,1.0,Urban,Y
358,Male,Yes,2,Not Graduate,No,3132,0,76.0,360.0,NaN,Rural,Y
359,Male,No,0,Graduate,No,4000,2667,152.0,360.0,1.0,Semiurban,Y
361,Male,Yes,1,Graduate,No,2269,2167,99.0,360.0,1.0,Semiurban,Y
362,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban,Y
363,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban,Y
364,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban,Y
365,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural,N

In [30]:
ds_test.isnull().sum()

Gender                8
Married               0
Dependents            6
Education             0
Self_Employed         9
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            2
Loan_Amount_Term      4
Credit_History       23
Property_Area         0
outcome               0
dtype: int64

In [31]:
ds_test.groupby('Self_Employed').size()

Self_Employed
No     201
Yes     26
dtype: int64

In [32]:
#gender
ds_test.groupby('Gender').agg({'Gender': np.size})
ds_test["Gender"]=ds_test["Gender"].fillna('Male')
ds_test["Gender"] = ds_test["Gender"].astype('category')
ds_test["Gender"] = ds_test["Gender"].cat.codes
#depen
ds_test.groupby('Dependents').agg({'Dependents': np.size})
ds_test["Dependents"]=ds_test["Dependents"].fillna(0)
ds_test["Dependents"] = ds_test["Dependents"].astype('category')
ds_test["Dependents"] = ds_test["Dependents"].cat.codes
#self employ
ds_test.groupby('Self_Employed').agg({'Self_Employed': np.size})
ds_test["Self_Employed"]=ds_test["Self_Employed"].fillna('No')
ds_test["Self_Employed"] = ds_test["Self_Employed"].astype('category')
ds_test["Self_Employed"] = ds_test["Self_Employed"].cat.codes

C:\Users\Hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\Hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\Hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\Hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\Hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
C:\Users\Hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [33]:
#LoanAmount
ds_test["LoanAmount"].fillna(ds_test["LoanAmount"].mean(), inplace=True)
#Loan_Amount_Term
ds_test["Loan_Amount_Term"].fillna(ds_test["Loan_Amount_Term"].mean(), inplace=True)
#Credit_History
ds_test["Credit_History"].fillna(ds_test["Credit_History"].mean(), inplace=True)

In [34]:
ds_test= pd.get_dummies(ds_test,columns=['Married'],drop_first=True)

In [35]:
ds_test= pd.get_dummies(ds_test,columns=['Education'],drop_first=True)

In [36]:
ds_test= pd.get_dummies(ds_test,columns=['Property_Area'],drop_first=True)

In [37]:
ds_test= pd.get_dummies(ds_test,columns=['outcome'],drop_first=True)

In [54]:
ds_test= pd.get_dummies(ds_test,columns=['Dependents'],drop_first=True)

In [55]:
x_train=ds_train.iloc[:,:-1]

In [56]:
x_train

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_1,Married_1,Dependents_1,Dependents_2,Dependents_3,Dependents_4,Self_Employed_1,Loan_Status_Y,Education_Not Graduate,Property_Area_Semiurban
0,5849,0.0,129.205195,360.0,1.0,1,0,1,0,0,0,0,1,0,0
1,4583,1508.0,128.000000,360.0,1.0,1,1,0,1,0,0,0,0,0,0
2,3000,0.0,66.000000,360.0,1.0,1,1,1,0,0,0,1,1,0,0
3,2583,2358.0,120.000000,360.0,1.0,1,1,1,0,0,0,0,1,1,0
4,6000,0.0,141.000000,360.0,1.0,1,0,1,0,0,0,0,1,0,0
5,5417,4196.0,267.000000,360.0,1.0,1,1,0,0,1,0,1,1,0,0
6,2333,1516.0,95.000000,360.0,1.0,1,1,1,0,0,0,0,1,1,0
8,4006,1526.0,168.000000,360.0,1.0,1,1,0,0,1,0,0,1,0,0
10,3200,700.0,70.000000,360.0,1.0,1,1,0,0,1,0,0,1,0,0
11,2500,1840.0,109.000000,360.0,1.0,1,1,0,0,1,0,0,1,0,0
13,1853,2840.0,114.000000,360.0,1.0,1,0,1,0,0,0,0,0,0,0
15,4950,0.0,125.000000,360.0,1.0,1,0,1,0,0,0,0,1,0,0
18,4887,0.0,133.000000,360.0,1.0,1,1,1,0,0,0,0,0,1,0
19,2600,3500.0,115.000000,360.0,1.0,1,1,1,0,0,0,0,1,0,0
24,3717,2925.0,151.000000,360.0,1.0,1,1,0,1,0,0,0,0,0,1
25,9560,0.0,191.000000,360.0,1.0,1,1,1,0,0,0,1,1,0,1
26,2799,2253.0,122.000000,360.0,1.0,1,1,1,0,0,0,0,1,0,1
27,4226,1040.0,110.000000,360.0,1.0,1,1,0,0,1,0,0,1,1,0
28,1442,0.0,35.000000,360.0,1.0,1,0,1,0,0,0,0,0,1,0
29,3750,2083.0,120.000000,360.0,1.0,0,0,0,0,1,0,0,1,0,1
30,4166,3369.0,201.000000,360.0,1.0,1,1,0,1,0,0,0,0,0,0
31,3167,0.0,74.000000,360.0,1.0,1,0,1,0,0,0,0,0,0,0
32,4692,0.0,106.000000,360.0,1.0,1,0,0,1,0,0,1,0,0,0
33,3500,1667.0,114.000000,360.0,1.0,1,1,1,0,0,0,0,1,0,1
35,2275,2067.0,129.205195,360.0,1.0,1,1,1,0,0,0,0,1,0,0
37,3667,1459.0,144.000000,360.0,1.0,0,1,1,0,0,0,0,1,0,1
39,3748,1668.0,110.000000,360.0,1.0,1,0,1,0,0,0,0,1,1,1
40,3600,0.0,80.000000,360.0,1.0,1,0,1,0,0,0,0,0,0,0
41,1800,1213.0,47.000000,360.0,1.0,1,0,1,0,0,0,0,1,0,0
42,2400,0.0,75.000000,360.0,1.0,1,1,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560,3675,242.0,108.000000,360.0,1.0,1,1,0,0,1,0,0,1,1,1
562,5923,2054.0,211.000000,360.0,1.0,1,1,1,0,0,0,0,1,0,0
563,5800,0.0,132.000000,360.0,1.0,1,0,1,0,0,0,1,1,1,1
565,4467,0.0,120.000000,360.0,1.0,1,1,1,0,0,0,0,1,1,0
566,3333,0.0,70.000000,360.0,1.0,1,0,1,0,0,0,0,1,0,0
568,2378,0.0,9.000000,360.0,1.0,0,0,1,0,0,0,0,0,0,0
570,3417,1750.0,186.000000,360.0,1.0,1,1,0,1,0,0,0,1,0,0
574,6406,0.0,150.000000,360.0,1.0,1,1,0,0,0,1,0,0,0,1
577,3229,2739.0,110.000000,360.0,1.0,1,0,1,0,0,0,0,1,0,0
578,1782,2232.0,107.000000,360.0,1.0,1,1,0,1,0,0,0,1,0,0
579,3182,2917.0,161.000000,360.0,1.0,1,0,1,0,0,0,0,1,0,0
580,6540,0.0,205.000000,360.0,1.0,1,1,0,0,1,0,0,1,0,1
582,3166,0.0,36.000000,360.0,1.0,0,1,1,0,0,0,0,1,0,1
583,1880,0.0,61.000000,360.0,1.0,1,1,0,1,0,0,0,0,0,0
586,2297,1522.0,104.000000,360.0,1.0,1,1,1,0,0,0,0,1,0,0
587,2165,0.0,70.000000,360.0,1.0,0,0,1,0,0,0,0,1,1,1
588,4750,0.0,94.000000,360.0,1.0,1,0,1,0,0,0,0,1,0,1
595,3833,0.0,110.000000,360.0,1.0,1,0,1,0,0,0,0,1,1,0
596,6383,1000.0,187.000000,360.0,1.0,1,1,0,0,1,0,1,0,1,0
598,9963,0.0,180.000000,360.0,1.0,1,1,1,0,0,0,1,1,0,0
599,5780,0.0,192.000000,360.0,1.0,1,1,0,0,1,0,0,1,0,0
601,2894,2792.0,155.000000,360.0,1.0,1,1,1,0,0,0,0,1,1,0
602,5703,0.0,128.000000,360.0,1.0,1,1,0,0,0,1,0,1,0,0
603,3676,4301.0,172.000000,360.0,1.0,1,0,1,0,0,0,0,1,0,0
606,3400,2500.0,173.000000,360.0,1.0,1,1,0,1,0,0,0,1,0,1
607,3987,1411.0,157.000000,360.0,1.0,1,1,0,0,1,0,0,1,1,0
608,3232,1950.0,108.000000,360.0,1.0,1,1,1,0,0,0,0,1,0,0
609,2900,0.0,71.000000,360.0,1.0,0,0,1,0,0,0,0,1,0,0
611,8072,240.0,253.000000,360.0,1.0,1,1,0,1,0,0,0,1,0,0
612,7583,0.0,187.000000,360.0,1.0,1,1,0,0,1,0,0,1,0,0

In [60]:
y_train=ds_train.iloc[:,-1]

In [61]:
y_train.values

array([1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1,
       0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1,
       0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       1, 1], dtype=uint8)

In [62]:
x_test=ds_test

In [63]:
x_test=ds_test.iloc[:,:-1]

In [64]:
x_test

,Gender,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Married_Yes,Education_Not Graduate,Property_Area_Semiurban,Property_Area_Urban,outcome_Y,Dependents_1,Dependents_2,Dependents_3
0,1,0,5720,0,110.0,360.0,1.0,1,0,0,1,1,1,0,0
1,1,0,3076,1500,126.0,360.0,1.0,1,0,0,1,1,0,1,0
2,1,0,5000,1800,208.0,360.0,1.0,1,0,0,1,1,0,0,1
3,1,0,2340,2546,100.0,360.0,1.0,1,0,0,1,1,0,0,1
4,1,0,3276,0,78.0,360.0,1.0,0,1,0,1,0,1,0,0
5,1,1,2165,3422,152.0,360.0,1.0,1,1,0,1,1,1,0,0
6,0,0,2226,0,59.0,360.0,1.0,0,1,1,0,1,0,1,0
9,1,0,2400,2400,123.0,360.0,1.0,0,1,1,0,1,1,0,0
10,1,0,3091,0,90.0,360.0,1.0,0,1,0,1,1,1,0,0
11,1,0,2185,1516,162.0,360.0,1.0,1,0,1,0,1,0,1,0
14,0,0,4666,0,124.0,360.0,1.0,0,0,1,0,1,1,0,0
15,1,0,5667,0,131.0,360.0,1.0,0,0,0,1,1,0,1,0
16,1,0,4583,2916,200.0,360.0,1.0,1,0,0,1,1,0,0,1
17,1,0,3786,333,126.0,360.0,1.0,1,0,1,0,1,0,0,0
20,1,0,1888,1620,48.0,360.0,1.0,1,1,0,1,1,0,1,0
22,1,0,3909,0,101.0,360.0,1.0,0,0,0,1,1,1,0,0
23,0,0,3765,0,125.0,360.0,1.0,0,1,0,1,1,1,0,0
26,1,0,4363,1250,140.0,360.0,1.0,1,0,0,1,1,0,0,1
28,1,0,3772,833,57.0,360.0,1.0,1,0,1,0,1,1,0,0
30,0,0,2478,0,75.0,360.0,1.0,0,1,1,0,1,1,0,0
31,1,0,6250,820,192.0,360.0,1.0,1,0,0,1,1,0,0,1
32,1,0,3268,1683,152.0,360.0,1.0,0,0,1,0,1,1,0,0
33,1,0,2783,2708,158.0,360.0,1.0,1,0,0,1,1,1,0,0
34,1,0,2740,1541,101.0,360.0,1.0,1,0,0,1,1,1,0,0
37,1,1,2267,2792,90.0,360.0,1.0,1,0,0,1,1,1,0,0
38,1,1,5833,0,116.0,360.0,1.0,0,0,0,1,1,1,0,0
39,1,0,3643,1963,138.0,360.0,1.0,0,0,0,1,1,1,0,0
40,1,0,5629,818,100.0,360.0,1.0,1,0,0,1,1,1,0,0
41,0,0,3644,0,110.0,360.0,1.0,0,0,0,1,1,1,0,0
42,1,0,1750,2024,90.0,360.0,1.0,1,1,1,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321,0,0,1647,1762,181.0,360.0,1.0,1,1,0,1,1,1,0,0
324,1,0,5333,0,90.0,360.0,1.0,1,0,0,0,1,1,0,0
326,1,0,2600,618,122.0,360.0,1.0,1,1,1,0,1,0,1,0
327,1,0,5041,700,150.0,360.0,1.0,1,0,0,1,1,0,0,1
328,1,1,6958,1411,150.0,360.0,1.0,1,0,0,0,1,0,0,0
329,1,0,3500,1658,104.0,360.0,1.0,1,0,1,0,1,0,1,0
330,1,0,5509,0,143.0,360.0,1.0,1,0,0,0,1,1,0,0
332,0,0,3621,2717,171.0,360.0,1.0,1,1,0,1,1,0,1,0
333,0,0,4709,0,113.0,360.0,1.0,1,0,1,0,1,1,0,0
334,1,0,1516,1951,35.0,360.0,1.0,1,0,1,0,1,1,0,0
335,1,0,2400,0,46.0,360.0,1.0,0,0,0,1,1,0,0,1
336,0,0,3015,2000,145.0,360.0,1.0,0,1,0,1,1,1,0,0
337,1,0,2292,1558,119.0,360.0,1.0,1,0,0,1,1,1,0,0
341,1,1,3972,4275,187.0,360.0,1.0,0,0,0,0,1,1,0,0
343,1,0,4700,0,80.0,360.0,1.0,1,0,0,1,1,0,1,0
344,1,0,6858,0,176.0,360.0,1.0,0,0,0,0,1,1,0,0
347,1,0,2868,0,70.0,360.0,1.0,0,1,0,1,1,1,0,0
348,1,0,3418,1380,135.0,360.0,1.0,1,1,0,1,1,0,0,1
352,1,0,5817,910,109.0,360.0,1.0,1,0,0,1,1,1,0,0
353,1,0,5119,3769,120.0,360.0,1.0,1,0,0,0,1,1,0,0
355,1,0,7603,1213,197.0,360.0,1.0,1,0,0,1,1,0,0,0
356,1,0,3791,1936,85.0,360.0,1.0,1,0,0,1,1,0,1,0
357,1,0,2500,0,60.0,360.0,1.0,0,0,0,1,1,1,0,0
358,1,0,3132,0,76.0,360.0,1.0,1,1,0,0,1,0,0,1
359,1,0,4000,2667,152.0,360.0,1.0,0,0,1,0,1,1,0,0
361,1,0,2269,2167,99.0,360.0,1.0,1,0,1,0,1,0,1,0
362,1,1,4009,1777,113.0,360.0,1.0,1,1,0,1,1,0,0,0
363,1,0,4158,709,115.0,360.0,1.0,1,0,0,1,1,1,0,0
364,1,0,3250,1993,126.0,360.0,1.0,0,0,1,0,1,1,0,0
365,1,0,5000,2393,158.0,360.0,1.0,1,0,0,0,0,1,0,0

In [65]:
y_test=ds_test.iloc[:,-1]

In [66]:
y_test.values

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0], dtype=uint8)

In [67]:
from sklearn.preprocessing import StandardScaler
sc_x_test = StandardScaler()
x_test = sc_x_test.fit_transform(x_test)

C:\Users\Hp\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype uint8, int8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Hp\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype uint8, int8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [68]:
x_test

array([[ 0.49204193, -0.35186578,  1.18442608, ...,  0.85749293,
        -0.45853725, -0.41728809],
       [ 0.49204193, -0.35186578, -0.58547081, ..., -1.16619038,
         2.1808479 , -0.41728809],
       [ 0.49204193, -0.35186578,  0.70245718, ..., -1.16619038,
        -0.45853725,  2.39642591],
       ...,
       [ 0.49204193, -0.35186578,  0.13882134, ...,  0.85749293,
        -0.45853725, -0.41728809],
       [ 0.49204193, -0.35186578, -0.46899499, ...,  0.85749293,
        -0.45853725, -0.41728809],
       [ 0.49204193, -0.35186578,  0.70245718, ...,  0.85749293,
        -0.45853725, -0.41728809]])

In [69]:
from sklearn.preprocessing import StandardScaler
sc_x_train = StandardScaler()
x_train = sc_x_train.fit_transform(x_train)

C:\Users\Hp\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Hp\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [70]:
x_train

array([[ 0.95605666, -0.95729352,  0.        , ...,  0.48186942,
        -0.52501526, -0.80288735],
       [ 0.27659653,  0.10255261, -0.02624463, ..., -2.07525099,
        -0.52501526, -0.80288735],
       [-0.57299697, -0.95729352, -1.37637258, ...,  0.48186942,
        -0.52501526, -0.80288735],
       ...,
       [-0.6266668 , -0.95729352, -1.26749129, ...,  0.48186942,
        -0.52501526, -0.80288735],
       [ 2.14913711, -0.78861774,  2.69578752, ...,  0.48186942,
        -0.52501526, -0.80288735],
       [ 1.88669161, -0.95729352,  1.25855454, ...,  0.48186942,
        -0.52501526, -0.80288735]])

In [71]:
from sklearn.svm import SVC
classifier_svm = SVC(kernel='sigmoid')
classifier_svm.fit(x_train,y_train)

C:\Users\Hp\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='sigmoid', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [72]:
y_pred = classifier_svm.predict(x_test)

In [73]:
y_pred

array([0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0,
       0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0], dtype=uint8)

In [74]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)
#0.72

array([[165,  53],
       [ 13,   5]], dtype=int64)

In [75]:
from sklearn.svm import SVC
classifier_svm = SVC(kernel='linear')
classifier_svm.fit(x_train,y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='linear', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [76]:
y_pred = classifier_svm.predict(x_test)

In [77]:
y_pred

array([0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0,
       0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1], dtype=uint8)

In [78]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)
#0.66

array([[150,  68],
       [ 12,   6]], dtype=int64)

In [79]:
from sklearn.svm import SVC
classifier_svm = SVC(kernel='rbf')
classifier_svm.fit(x_train,y_train)

C:\Users\Hp\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [80]:
y_pred = classifier_svm.predict(x_test)

In [81]:
y_pred

array([0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1,
       0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0], dtype=uint8)

In [82]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)
#0.66

array([[149,  69],
       [ 11,   7]], dtype=int64)

In [92]:
from sklearn.svm import SVC
classifier_svm = SVC(kernel='poly')
classifier_svm.fit(x_train,y_train)

C:\Users\Hp\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='poly', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [93]:
y_pred = classifier_svm.predict(x_test)

In [94]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)
#0.88

array([[210,   8],
       [ 18,   0]], dtype=int64)

In [85]:
from sklearn.tree import DecisionTreeClassifier
classifier_dt = DecisionTreeClassifier(criterion='entropy')
classifier_dt.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [86]:
y_pred = classifier_dt.predict(x_test)

In [87]:
y_pred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0,
       0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0,
       1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1], dtype=uint8)

In [88]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)
#0.55

array([[120,  98],
       [  6,  12]], dtype=int64)

In [89]:
from sklearn.ensemble import RandomForestClassifier
classifier_rf = RandomForestClassifier(n_estimators=3, criterion='entropy')
classifier_rf.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=3, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [90]:
y_pred = classifier_rf.predict(x_test)

In [91]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)
#0.60

array([[136,  82],
       [ 12,   6]], dtype=int64)